@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.btn{
    padding: 8px 16px;
    color: #333;
    border: 3px solid #333;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: all .3s ease;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
    background-color: #333;
}
.header{
    width: 100%;
    height: 100%;
    background-color: #4c83ee;
}
.navbar{
    width: 100%;
    height: 100%;
}
.navbar-items{
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
}
.nav-item a{
    padding: 20px 30px;
    color: #fff;
    display: inline-block;
    transition: all .3s ease;
}
.nav-search{
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 400px;
}
.nav-search__item{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-search__item input{
    transition: all .3s ease;
    transform: translateX(-200%);
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-left: 20px;
    outline: none;
    width: 300px;
}
.nav-search__item input::placeholder{
    color: #fff;
}
.nav-search__item input:focus{
    transform: translateX(0%);
}
.nav-search svg{
    width: 20px;
    height: 20px;
}
.nav-item a:hover{
    background-color: rgba(0, 0, 0, .4);
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;  
    height: 100%;
}
.section{
    margin-top: 60px;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 26px;
}
.grid-container{
    padding: 40px 0;
}
.products-container{
    grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-item{
    display: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 6px rgba(34, 60, 80, 0.2);
    overflow: hidden;
}
.show{
    display: block;
}
.image-container{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    object-fit: cover;
}
.about-product{
    padding: 20px;
}
.about-product h3{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.about-product p{
    font-size: 16px;
    color: #333;
    opacity: .6;
    margin-bottom: 10px;
}
.about-product .attributes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.about-product .attributes span{
    margin-right: 10px;
    padding: 4px 10px;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
}


.search-container{
    width: 100%;
    margin-bottom: 40px;
}
.gender{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.gender h3{
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.chose-gender{
    width: 10%;
    outline: none;
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.categorys-container{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
}
.category-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
.category-group{
    display: flex;
    align-items: center;
}
.category-group label{
    z-index: 9;
    margin-right: 10px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
}